.nav ul {
  display: flex;
  gap: 2rem;
}
.nav a,
.nav button {
  background: #eee;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s;
}
.nav a:hover,
.nav button:hover,
.nav a:focus,
.nav a:focus,
.mobileButton:hover {
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
  outline: none;
}
.mobileButton {
  background: #eee;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  display: none;
  padding: 0px;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s;
}
.mobileButton::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background: currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
}
.mobileActive::after {
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}
.mobileButton .mobileActive {
  background: red;
}
@media (max-width: 40rem) {
  .nav {
    display: none;
  }
  .mobileButton {
    display: flex;
  }
  .mobileButton .mobileActive::after {
    transform: rotate(90deg);
    width: 4px;
    height: 4px;
    box-shadow: 0 8px currentColor, 0 -8px currentColor;
  }
}
